<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal Off</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url "home" %}">Food Delivery</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'subscription_plans' %}">Subscription Plans</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'meal_order_info' %}">Meal off info</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'meal_off' %}">Turn off Meal</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'consume_meal' 'lunch' %}">Consume Lunch</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'consume_meal' 'dinner' %}">Consume Dinner</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
<div class="container mt-5">
    <h2>Turn Off Meal</h2>
    <p> Date format: mm/day/year </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
